html_test

# python
*.pyc
__pycache__/

# osx
.DS_Store
db.sqlite3

# emacs
\#*\#
.\#*

# vim
*.swp

# pycharm
*.idea*

# sed
*.bak

#django
*migrations*

# data directories
amicorpus/
amicorp_generated_crosstalk_data/

# experiments
experimental*
example*

