{% extends "twilio_caller/header.html" %} {% block body %}<body>
<script type="text/javascript"> var audio_key = "{{audio_key}}" </script>
<audio id="master_audio" preload="auto" src = {{audio_url}}> 
    <p> Your browser does not support the audio element </p> 
</audio>
<br>
<h1> <button type="button" onclick = "pauseAllAudio();" > Stop Audio </button> </h1> <br>
Keyword Search:

 <form id="keyword" action="" method="POST" onsubmit="keywordSubmit();">

            <div class="input text">
                <label for="search-term">Search Term</label>
                <input name="search-term" type="text" style="z-index: 2;">
            </div>

            <input type="hidden" name="audio_key" id="form_audio_key" value="{{audio_key}}"/>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
     {% csrf_token %}
</form>
{% if keywords|length > 0 %}
    Keyword Times

    {% for key, keyword in keywords.items %}
        <a onClick="setTime({{keyword.starttime}}, 'master_audio');" style="cursor: pointer; cursor: hand; background-color: {{keyword.hex_confidence}}"> {{keyword.starttime}} </a>
    {% endfor %}
{% endif %}
<br>
Key Phrases:
{% for phrase, times in phrases.items %}
    <br>
    {{phrase}}:
    {% for time in times %}
        <a onClick="setTime({{time}}, 'master_audio');" style="cursor: pointer; cursor: hand;"> {{time}} </a>
    {% endfor %}
{% endfor %}
<br>
{% for line in lines %}
{{line.speaker}} :
{%for word in line.words %}
<a rel="popover" id=word_{{word.id}} onClick="setTime({{word.starttime}}, 'master_audio');" style="cursor: pointer; cursor: hand; background-color: {{word.hex_confidence}}"> {{word.text}} </a>
{% endfor %}
<br>
{% endfor %}
  </body>
{% load static from staticfiles %}
<script src="{% static '/js/mindstone_ui.js' %}"></script>
</html>
{% endblock %}