{% extends "twilio_caller/header.html" %} {% block body %}<body>
<script type="text/javascript">
    var audio_key = "{{audio_key}}"
</script>

<audio id="master_audio" preload="none" src = {{audio_url}}
        type="audio/mpeg">
    <p> Your browser does not support the audio element </p> 
</audio>

/* phrases = [[phrase, clip_url, timestamp_in_master, confidence], [phrase, clip_url, timestamp_in_master, confidence], ...]
*/
{% for phrase, values in phrases.items %}
    {% for value in values.times %}
        <audio id="{{value.url}}" preload="none" src = {{value.url}}
                 type="audio/mpeg"  >
            <p> Your browser does not support the audio element </p>
        </audio>
    {% endfor %}
{% endfor %}
<br>
<h1> <button type="button" onclick = "pauseAllAudio();" > Stop Audio </button> </h1> <br>
<h3>Keyword Search:</h3>

 <form id="keyword" action="" method="POST" onsubmit="keywordSubmit('keyword');">
    <input type="hidden" name="form_type" value="keyword"/>
    <input type="hidden" name="audio_key" id="keyword_audio_key" value="{{audio_key}}"/>

            <div class="input text">
                <label for="search-term">Search Term</label>
                <input name="search-term" type="text" style="z-index: 2;">
            </div>


            <div class="input submit">
                <input type="submit" name="keyword-submit" value="Submit" />
            </div>
     {% csrf_token %}
</form>
{% if keywords|length > 0 %}
    <h3>Search Results:</h3>
    <table style="padding: 10px;">
        <tr>
            <th> Phrase </th>
            <th> Play </th>
            <th> Timestamp </th>
            <th> Confidence </th>
        </tr>


    {% for key, keyword in keywords.items %}
        <tr>
        <th>
            "{{keyword.keyword}}"
        </th>
        <th>
        <a onClick="setTime({{keyword.starttime}}, 'master_audio');"
           style="cursor: pointer; cursor: hand; background-color: {{keyword.hex_confidence}}"> Play Phrase </a>
        </th>
        <th>{{keyword.starttime}}</th>
            <th>{{keyword.confidence}}</th>
        </tr>
            {% endfor %}
    </table>
{% endif %}
<br>

<h3>Key Phrases:</h3>

<form id="phrases" action="" method="POST" onsubmit="keywordSubmit('phrases');">
    <input type="hidden" name="audio_key" id="phrases_audio_key" value="{{audio_key}}"/>
    <input type="hidden" name="form_type" value="phrases"/>
<table>
    <tr>

        <th>Play Keyword</th>
        <th>Keyword Present</th>
        <th>Confidence</th>
        <th>Clip</th>
        <th>Note</th>
        <th>Who</th>
        <th>What</th>
        <th>Where</th>
        <th>When</th>
        <th>Why</th>
    </tr>
    {% for phrase, values in phrases.items %}
        <tr>
            <th>{{phrase}}</th>
        </tr>
        {% for value in values.times %}
            <tr>
                <th> <a onClick="setTime(0, '{{value.url}}');" style="cursor: pointer; cursor: hand; background-color:"> Play </a> <br></th>
                <th> <input type="checkbox" name="{{phrase}}_{{value.keytime}}_exists" value="True"> </th>
                <th> {{value.confidence}} </th>
                <th> <a onClick="setTime({{value.starttime}}, 'master_audio');" style="cursor: pointer; cursor: hand; background-color:"> Play </a> <br></th>

                <th> <input type="text" name="{{phrase}}_{{value.keytime}}_note"> </th>
                <th> <input type="text" name="{{phrase}}_{{value.keytime}}_who"> </th>
                <th> <input type="text" name="{{phrase}}_{{value.keytime}}_what"> </th>
                <th> <input type="text" name="{{phrase}}_{{value.keytime}}_where"> </th>
                <th> <input type="text" name="{{phrase}}_{{value.keytime}}_when"> </th>
                <th> <input type="text" name="{{phrase}}_{{value.keytime}}_why"> </th>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
    <div>Final Values? <input type="checkbox" name="final_values" value="True">
    </div>
    <div class="input submit">
        <input type="submit" name="phrase-submit" value="Submit" />
    </div>
     {% csrf_token %}
</form>



<br>
{% for line in lines %}
{{line.speaker}} :
{%for word in line.words %}
<a rel="popover" id=word_{{word.id}} onClick="setTime({{word.starttime}}, 'master_audio');" style="cursor: pointer; cursor: hand; background-color: {{word.hex_confidence}}"> {{word.text}} </a>
{% endfor %}
<br>
{% endfor %}
  </body>
{% load static from staticfiles %}
<script src="{% static '/js/mindstone_ui.js' %}"></script>
<script>
    master_audio = document.getElementById("master_audio");
    audios['master_audio'] = master_audio;
    master_audio.autoplay = false;
    master_audio.pause();
    {% for phrase, values in phrases.items %}
        {% for value in values.times %}
            var phrase_elem = document.getElementById('{{value.url}}');
            phrase_elem.addEventListener("canplaythrough", function() {this.play();});
            audios['{{value.url}}'] = phrase_elem;
            phrase_elem.autoplay = false;
            phrase_elem.pause();
        {% endfor %}
    {% endfor %}
</script>
</html>
{% endblock %}