{% load static %}
<html>

<head>
  <title>evoke.ai | notes on calls for you</title>
  <link rel="stylesheet" href="{% static '/twilio_caller/style.css' %}" />
</head>

<body>
  <h1>
    <div class="container name">evoke.ai</div>
    <div class="container">We'll take the notes on your next call.</div>
  </h1>
  <div class="container">
    <p>Use the form below to place a call, and afterwards, you and your
      correspondant will both receive an email with notes on your
      conversation, including a summary of key points, deadlines, and
      action items you&nbsp;discussed.</p>
    
    <form method="POST" action="{% url 'call' %}" enctype="multipart/form-data">
      <div class="dialer-form">
        <div class="caller">
          <h2>You are...</h2>
          <div>
            <label for="caller-name">Your name</label>
            <div><input name="caller-name" type="text"
                        autocomplete="name (optional)"></div>
          </div>
          <div>
            <label for="caller-email">Your email</label>
            <div><input name="caller-email" type="email"
                        autocomplete="email (optional)"></div>
          </div>
          <div>
            <label for="caller-number">Your number</label>
            <div><input name="caller-number" type="tel"
                        placeholder="# with area code" autocomplete="tel"></div>
          </div>
        </div>
        <div class="recipient">
          <h2>You're calling...</h2>
          <div>
            <label for="recipient-name">Their name</label>
            <div><input name="recipient-name" type="text"
                        autocomplete="name (optional)"></div>
          </div>
          <div>
            <label for="recipient-email">Their email</label>
            <div><input name="recipient-email" type="email"
                        autocomplete="email (optional)"></div>
          </div>
          <div>
            <label for="recipient-number">Their number</label>
            <div><input name="recipient-number" type="tel"
                        placeholder="# with area code" autocomplete="tel"></div>
          </div>
        </div>

      </div>
      <div class="upload">
        <h3> Upload a file instead </h3>
        <input type="file" name="myfile">
      </div>
      <input class="cta cta-call" type="submit" value="Go!">
      <div class="disclaimer">
        <h4>The magic may take a bit. Sit tight! We'll email
        when everything is done. </h4>
      </div>
      <div class="settings">
        <h2> Settings </h2>
          <div><input type="checkbox" name="transcript" value="True"> Generate a terrible transcript</div>
        <br>
          Audio bookmarks separated by semicolons.<br>
          These phrases will generate notes. The entire audio will still be searchable:<br> <br>
          <div>
              Key Phrases:
              <div>
                <input name="keyword_0" placeholder="Action Items" type="text">
                <input name="keyword_0_pre" type="radio" value="before">Focus before keyword
                <input name="keyword_0_post" type="radio" value="after" checked>Focus after keyword
              </div>
              <div>
                <input name="keyword_1" placeholder="that's fascinating" type="text">
                <input name="keyword_1_placement" type="radio" value="before" checked>Focus before keyword
                <input name="keyword_1_placement" type="radio" value="after">Focus after keyword
              </div>
              <div>
                <input name="keyword_2" placeholder="take a note" type="text">
                <input name="keyword_2_placement" type="radio" value="before">Focus before keyword
                <input name="keyword_2_placement" type="radio" value="after" checked>Focus after keyword
              </div>
              <div>
                <input name="keyword_3" placeholder="remember that" type="text">
                <input name="keyword_3_placement" type="radio" value="before" checked>Focus before keyword
                <input name="keyword_3_placement" type="radio" value="after">Focus after keyword
              </div>



          </div>
        <br>
        Wonky: minimum acceptable confidence on audio search
        <div><input type=text name="min_confidence" value="0.3"></div>
      </div>

      {% csrf_token %}

    </form>
  </div>
</body>
</html>
