{% load static %}
<html>

<head>
  <title>evoke.ai | notes on calls for you</title>
  <link rel="stylesheet" href="{% static '/twilio_caller/style.css' %}" />
</head>

<body>
  <h1>
    <div class="container name">evoke.ai</div>
    <div class="container">We'll take the notes on your next call.</div>
  </h1>
  <div class="container">
    <p>Use the form below to place a call, and afterwards, you and your
      correspondant will both receive an email with notes on your
      conversation, including a summary of key points, deadlines, and
      action items you&nbsp;discussed.</p>
    {% if code %}
    <h3>
      Verification Code: <b>{{code}}</b>
    </h3>
    {% endif %}
    <form method="POST" action="{% url 'call' %}" enctype="multipart/form-data">
      <div class="dialer-form">
        <div class="caller">
          <h2>You are...</h2>
          <div>
            <label for="caller-name">Your name</label>
            <div><input name="caller-name" type="text"
                        placeholder="name (optional)"
                        value="{{caller_name}}"></div>
          </div>
          <div>
            <label for="caller-email">Your email</label>
            <div><input name="caller-email" type="email"
                        placeholder="email (optional)"
                        value="{{caller_email}}"></div>
          </div>
          <div>
            <label for="caller-number">Your number</label>
            <div><input name="caller-number" type="tel"
                        placeholder="# with area code" autocomplete="tel"
                        value="{{caller_number}}"></div>

          </div>
        </div>
        <div class="recipient">
          <h2>You're calling...</h2>
          <div>
            <label for="recipient-name">Their name</label>
            <div><input name="recipient-name" type="text"
                        placeholder="name (optional)"
                        value="{{recipient_name}}"></div>
          </div>
          <div>
            <label for="recipient-email">Their email</label>
            <div><input name="recipient-email" type="email"
                        placeholder="email (optional)"
                        value="{{recipient_email}}"></div>
          </div>
          <div>
            <label for="recipient-number">Their number</label>
            <div><input name="recipient-number" type="tel"
                        placeholder="# with area code" autocomplete="tel"
                        value="{{recipient_number}}"></div>
          </div>
        </div>

      </div>

      <input class="cta cta-call" type="submit" value="Go!">
      <div class="disclaimer">
        <h4>The magic may take a bit. Sit tight! We'll email
        when everything is done. </h4>
      </div>


      {% csrf_token %}

    </form>
  </div>
</body>
</html>
