<!DOCTYPE html>
<html lang="en">
{% load static %}
<title></title> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|safe }};
</script>

<style> .alt0 { color: black; } .alt1 { color: red; }
<style>
h1 {
background-color: lightgrey;
} </style>
    <head>
  <title>evoke.ai | notes on calls for you</title>
  <link rel="stylesheet" href="{% static '/twilio_caller/style.css' %}" />
<style>

th, td {
    padding: 10px;
}
</style>
</head>

<body style=\"margin:20;padding:0\">


{% block body %}{% endblock %}