<html>

  <head>
    <title>Call with {{ participants }} on {{ date }}</title>

  </head>

  <body>
    <div class="wrapper">
        <span class="notes">Notes from your</span>
        <span class="meeting">meeting</span>
        <span class="on">on</span>
        <b><span class="date">{{ date }}</span></b>
        <br>
        <br>
        <span class="participants">
          <b>Participants: </b>
          <table style="padding: 10px;">
              <tr>
                  <th> Name </th>
                  <th> Email </th>
                  <th> Phone Number </th>
              </tr>
          {% for participant, value in participants.items %}
              <tr>
                  <th> {{value.name}}</th>
                  <th> {{value.email}}</th>
                  <th> {{value.number}}</th>
              </tr>

          {% endfor %}
          </table>
        </span>

      {% for phrase in phrases %}
      <h3>{{ phrase.text.capitalize }}</h3>
      <ul>
        {% for item in phrase.items %}
        <li>{{ item }}</li>
        {% endfor %}
        {% if phrase.items|length == 0 %}
        <li><"{{phrase.text}}" not mentioned></li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>
    <br>
  <div>Explore the conversation at
    <a href="http://{{request.META.HTTP_HOST}}/alpha/viewer/{{call.twilio_recording_sid}}/">{{request.META.HTTP_HOST}}/viewer/{{call.twilio_recording_sid}}/</a></div>
  <br>
  <div><i>Was that useful? Any ways we can improve? Let us know what you
    think by
    replying to this email.</i> </div>
  </body>
</html>
