<html>

  <head>
    <title>Call with {{ participants }} on {{ date }}</title>

  </head>

  <body>
    <div class="wrapper">
      <h2>
        <span class="meeting">Meeting on</span>
        <span class="on">on</span>
        <span class="date">{{ date }}</span>
        <br>
        <span class="participants">
          <b>Participants: </b>
          <table style="padding: 10px;">
              <tr>
                  <th> Name </th>
                  <th> Email </th>
                  <th> Phone Number </th>
              </tr>
          {% for participant, value in participants.items %}
              <tr>
                  <th> {{value.name}}</th>
                  <th> {{value.email}}</th>
                  <th> {{value.number}}</th>
              </tr>

          {% endfor %}
          </table>
        </span>

      </h2>
      {% for phrase in phrases %}
      <h2>{{ phrase.text.capitalize }}</h2>
      <ul>
        {% for item in phrase.items %}
        <li>{{ item }}</li>
        {% endfor %}
        {% if phrase.items|length == 0 %}
        <li><"{{phrase.text}}" not mentioned></li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>
  </body>
</html>
