<html>

<head>
  <title>Memotoken call status</title>
  <meta http-equiv="refresh" content="10" />
  <style type="text/css">
    div {
      font-family: 'Helvetica Neue';
      width: 600px;
      margin: 0 auto;
      border: 1px solid #888;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div>
    {% if call.state == 'NI' %}
    Initiating call...
    {% elif call.state == 'CP' %}
    Call in progress...
    {% elif call.state == 'CF' %}
    Call finished. It will take a bit to crunch and will be available
    here:
    <a href="http://{{request.META.HTTP_HOST}}/alpha/viewer/{{call.twilio_recording_sid}}/">{{request.META.HTTP_HOST}}/viewer/{{call.twilio_recording_sid}}/</a>
    {% elif call.state == 'FP' %}
    Call processed! It is available here:
    <a href="http://{{request.META.HTTP_HOST}}/alpha/viewer/{{call.twilio_recording_sid}}/">{{request.META.HTTP_HOST}}/viewer/{{call.twilio_recording_sid}}/</a>
    {% endif %}
  </div>
</body>

</html>
